<% layout('layouts/boilerplate')%>

<title>Add New Restaurant</title>
<div class="row">
  <h1 class="text-center">New Restaurant</h1>
  <div class="col-6 offset-3">
    <form
      action="/restaurants"
      method="POST"
      novalidate
      class="validation-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="restaurant[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Address</label
        ><a
          tabindex="0"
          class="btn btn-sm btn-success"
          role="button"
          data-bs-toggle="popover"
          data-bs-trigger="focus"
          data-bs-title="Restaurant Address"
          data-bs-content="Detailed address is encouraged, a pin will be added to the map. "
          >?</a
        >
        <input
          class="form-control"
          type="text"
          id="location"
          name="restaurant[location]"
          value="Sydney,Australia"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Add Restaurant Photo</label>
        <a
          tabindex="0"
          class="btn btn-sm btn-success"
          role="button"
          data-bs-toggle="popover"
          data-bs-trigger="focus"
          data-bs-title="Restaurant Photos"
          data-bs-content="Note that you can select multiple photos"
          >?</a
        >
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="image"
            name="image"
            id=""
            multiple
          />
          <label class="input-group-text" for="image">Upload</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Average Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="restaurant[price]"
            required
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="restaurant[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Add Restaurant</button>
      </div>
    </form>
    <a href="/restaurants">All Restaurant</a>
  </div>
</div>

<script>
  const popoverTriggerList = document.querySelectorAll(
    '[data-bs-toggle="popover"]'
  );
  const popoverList = [...popoverTriggerList].map(
    (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
  );
  const popover = new bootstrap.Popover(".popover-dismiss", {
    trigger: "focus",
  });
</script>
